[defaults]
inventory = inventories/production/inventory.yml
remote_user = ansible
private_key_file = /home/ansible/.ssh/ansible
roles_path = ./roles
host_key_checking = True

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new
